@import "../../styles/mixins";
@import "../../styles/partials.scss";

.about {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  max-width: 900px;
  padding-top: 200px;

  &__info {
    @include tablet {
      font-size: 20px;
    }
  }

  &__majors {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 80px 0;

    @include tablet {
      flex-direction: row;
    }
  }

  &__major {
    margin-bottom: 38px;
  }

  &__icon {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;

    margin: auto;
    border: 1px solid blue;
    border-radius: 50%;
    color: blue;

    & i {
      transition: all 300ms ease;
    }

    &:hover i {
      color: pink;
      transform: rotate(-30deg) scale(1.1);
    }
  }

  &__title,
  &__desc {
    color: darkgray;
  }

  &__desc {
    font-size: small;
  }

  &__school {
    display: flex;
    align-items: center;
  }

  &__schoolDesc {
    margin: 0 16px;
    text-align: left;
  }

  &__name,
  &__period {
    color: lightgray;
  }

  &__name {
    font-size: small;
  }

  &__period {
    font-size: x-small;
  }

  &__logo {
    object-fit: contain;
    height: 60px;
    width: 60px;
  }
}
