.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  color: white;
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
  transition: all 100ms ease-in-out;
  z-index: 100;
}

.header > h1 {
  font-size: 20px;
}

.header > h1 > a {
  text-decoration: none;
  color: white;
  transition: all 300ms ease;
}

.header > h1 > a:hover {
  color: #e31b6d;
}

.header__right > ul {
  display: flex;
  justify-content: space-evenly;
}

.header__item {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 300ms ease;
  /* border: 1px solid transparent; */
}

.header__toggle {
  position: absolute;
  right: 32px;
  top: 20px;
  font-size: 24px;
  color: white;
  display: none;
}

.header__right > ul > li {
  list-style-type: none;
  margin-right: 1rem;
}

.header__item:hover {
  /* border: 1px solid #c19897; */
  /* border: 1px solid white; */
  color: #e31b6d;
}

.active-color {
  color: #e31b6d;
}

/* <768px screen width */
@media screen and (max-width: 768px) {
  .header__toggle {
    display: block;
    margin-top: -0.5rem;
    border: none;
    outline: none;
    background-color: #1b242f;
  }

  .header-toggle {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1b242f;
    transition: all 350ms ease-in-out;
    z-index: 100;
  }

  .fas {
    border: none;
    outline: 0;
    background-color: transparent;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .header__right {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .header__right.open {
    display: initial;
    z-index: 100;
  }
}
