.footer {
  margin: 0 auto;
  margin-top: 5rem;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b242f;
  padding: 70px 0 50px 0;
  color: #8f9aa7;

  &__icons {
    margin-bottom: 4px;
  }
}

.footer__linkedImg {
  height: 40px;
}

.footer__emailImg {
  height: 40px;
  margin-left: 1rem;
}

.footer__yr {
  color: #e31b6d;
}
