.footer {
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b242f;
  padding: 70px 0 50px 0;
  color: #8f9aa7;

  &__icons {
    display: flex;
    align-items: end;
    margin-bottom: 4px;
  }
}

.footer__link,
.footer__email,
.footer__git {
  height: 40px;
}

.footer__linkedImg {
  height: 40px;
}

.footer__emailImg,
.footer__gitImg {
  height: 40px;
  margin-left: 1rem;
}

.footer__yr {
  color: #e31b6d;
}
