@import "../../styles/mixins";
@import "../../styles/partials.scss";

.work {
  &__react {
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
  }

  &__card {
    box-sizing: border-box;
    height: 30vw;
    width: 28vw;
    margin: 4rem 2rem;
    transition: transform 500ms;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__cardImg {
    object-fit: contain;
    height: 70%;
    width: 100%;
  }

  &__link {
    text-decoration: none;
    color: blue;
  }
}
